# Dependencies
node_modules
.pnp
.pnp.js

# Build / cache
.turbo
.next
dist
build
.expo
*.tsbuildinfo

# Env
.env
.env*.local

# OS / IDE
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Logs / debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Testing
coverage
